
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <div class="center">
      <div class="logo">
        <img src="{% static 'img/logo_adams.png' %}" >
      </div>
      <div class="content">
        <div class=>
                <button onclick="location.href = 'join/game/'">Join</button>
            </div>
        <div class="or">
          <label>or</label>
          <button onclick="location.href = 'login';" class="float-left submit-button" >Login</button>
          <button onclick="location.href = 'register';" class="float-left submit-button" >Register</button>
        </div>
      </div>
    </div>
  </body>
</html>
