
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <div class="center">
      <div class="logo">
        <img src="{% static 'resources/logo_adams.png' %}" >
      </div>
      <div class="content">
        <form>
          <label for="username">Game ID</label>
            <input type="text" placeholder="" id="room_id">

          <label for="password">Nickname</label>
            <input type="text" placeholder="" id="nickname">
        </form>
        <button>Join</button>
        <div class="or">
          <label>or</label>
          <button onclick="location.href = 'login';" class="float-left submit-button" >Login</button>
          <button onclick="location.href = 'register';" class="float-left submit-button" >Register</button>
        </div>
      </div>
    </div>
  </body>
</html>
