<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Game</title>
    <link rel="stylesheet" href="{% static 'css/side-nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
    <style>
        .opacity-zero {
            opacity: 0;
        }

        .opacity-hundred {
            opacity: 100;
        }
    </style>

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@5.0.0/bundles/stomp.umd.js"></script>
    <script>

        let num_of_joined = 0;
        var users = {}
        let status
        let username = '{{ username }}'
        let winner

        let wsStart = 'ws://'

        if(location.protocol === 'https') {
            wsStart = 'wss://'
        }

        let endpoint = wsStart + window.location.host + '/ws/notification/'

        const socket = new WebSocket(endpoint)

        socket.onopen = async function (e) {
            console.log('awildi', e)
            await join_game()
        }

        socket.onmessage = async function (e) {
            const data = JSON.parse(e.data)
            console.log("Received Message: ")
            if(data.method === 'JOIN'){
                if(tempBigram == null) {
                    setLetterpair(data.letterpair)
                }
                const players = JSON.parse(data.status)
                status = data.status
                for (const [key, value] of Object.entries(players)) {
                  console.log(key, value);
                  if (!(key in users)) {
                      add_player(key)
                      users[key] = true
                  }
                }
            } else if(data.method === 'MOVE') {
                move_handler(data)
            } else if(data.method === 'PLAY') {
                play_handler(data)
            } else if (data.method === 'END') {

            }
            console.log(data)
        }

        socket.onerror = async function (e) {
            console.log('error', e)
        }

        socket.onclose = async function (e) {
            console.log('ws connection jabilip qald', e)
        }

        async function send_msg() {
            const message = $('#message').val()
            let wordIsValid = await testWord(message)

            await socket.send(JSON.stringify({
                'method': 'PLAY',
                'message': message,
                'username': '{{ username }}',
                'lobby': '{{ room }}',
                'letterpair': tempBigram,
                'wordIsValid': await wordIsValid,
                'status': status
            }))
        }

        async function start_game() {
            $('#start').addClass('opacity-zero')


            await socket.send(JSON.stringify({
                'method': 'START',
                'message': '1337',
                'username': '{{ username }}',
                'lobby': '{{ room }}',
                'letterpair': tempBigram,
                'wordIsValid': false,
                'status': status
            }))
        }

        function minusHp(username) {

            $('.player').each(function() {

                let nickname = $(this).children('span').text()
                if (nickname === username) {
                    $(this).children('.hp').children().last().remove()
                }
            })
        }

        async function move_handler(data) {
            $('#start').addClass('opacity-zero')
            $('#notifications').text(data.move + '\'s turn')
            if(username !== data.move) {
                $('#message').removeClass('opacity-hundred')
                $('#message').addClass('opacity-zero')
                $('#play').removeClass('opacity-hundred')
                $('#play').addClass('opacity-zero')
            } else {
                $('#message').removeClass('opacity-zero')
                $('#message').addClass('opacity-hundred')
                $('#play').removeClass('opacity-zero')
                $('#play').addClass('opacity-hundred')
            }
            if (data.move === null) {
                console.log()
                winner = data.last
                $('#notifications').text(winner + " is a Winner!")
                console.log(winner)
            }
        }

        function play_handler(data) {
            wordIsValid = data.wordIsValid

            console.log("minushp wordvalid?" + wordIsValid )

            if(!wordIsValid) {
                minusHp(data.username)
            }
            setLetterpair(data.letterpair)
            setInput(data.message, data.username)
        }

        async function join_game() {
            await socket.send(JSON.stringify({
                'method': 'JOIN',
                'message': '1337',
                'username': '{{ username }}',
                'lobby': '{{ room }}',
                'letterpair': tempBigram,
                'wordIsValid': false
            }))
        }


    </script>
</head>
<body>

    <div class="sidenav">
        <div class="user">
            <img src="{% static 'img/logo_adams.png' %}" alt="" width="150" height="150">
      </div>
        <div class="log" style="background-color: white; border-radius: 25px; overflow-x: hidden; overflow-y: auto; margin: 20px; height: 500px; text-align: center;">

        </div>
    </div>

    <div class="rightside">
        <h2>{{ room }} : {{ username }}</h2>
        <div id="notifications">

        </div>
        <div id="play_area">

        </div>
        <div id="word">
        </div>
        <div id="form-div">
            <input type="hidden" name="username" id="username" value="{{ username }}">
            <input type="hidden" name="room_id" id="room_id" value="{{ room_details.id }}">
            <textarea class="opacity-zero" name="message" id="message" cols="30" rows="10"></textarea>
            <input class="opacity-zero" id="play" type="button" value="send" onclick="send_msg()">
            <input id="start" type="button" value="start" onclick="start_game()">
        </div>
    </div>

</body>

    <script>
        let tempBigram = null
        let keepalive_sec = 30

        function add_player(name){
            const player = document.createElement("div"),
                hp = document.createElement("div"),
                image = document.createElement("img"),
                nameContainer = document.createElement("span")

            player.classList.add("player")
            player.id = name
            hp.classList.add("hp")
            image.classList.add("player_image_holder")
            nameContainer.classList.add("player_name")

            image.src = "/static/img/profimg/" + random(1, 13) + ".png"

            nameContainer.innerText = name

            for (let i = 1; i <= 3; i++){
                let hp_image = document.createElement("img")
                hp_image.src = "/static/img/hp.svg"
                hp.append(hp_image)
            }

            player.append(image)
            player.append(nameContainer)
            player.append(hp)

            document.getElementById("play_area").append(player)


        }
        function random(min, max){
            return Math.floor( Math.random() * (max - min + 1)) + min;
        }


        async function setLetterpair(letterpair) {
            tempBigram = letterpair
            let spanWord = '';


            if (document.getElementById("spanWord")){
                spanWord = document.getElementById("spanWord");
            } else {
                spanWord = document.createElement("span");
            spanWord.id = "spanWord";
            document.getElementById("word").append(spanWord);
            }

            spanWord.innerText = letterpair;
            spanWord.style.backgroundColor = "#FE5E32";
            spanWord.style.borderRadius = "25px";
            spanWord.style.fontSize= "25pt";
            spanWord.style.color = "#FFFFFFFF";
            spanWord.style.padding = "1px 16px";

        }

        async function setInput(inputWord, name) {
            $('.log').append("<span class='logName'>" +  name + ": " + "</span><span class='logInput'>" + inputWord  + "</span><br>")
        }

        async function testWord(input){
            const key = "c1f63c78-d784-4148-8803-56619762c011"; //Key (Dictionary):
            input.toLowerCase();
            let bool = (input.includes(tempBigram)) && (input.length > 2);
            console.log("checkbool " + bool + " " + input + " " + tempBigram)
            //console.log(bool);
            //tempTestWord = false

            if (bool){
                await fetch("https://www.dictionaryapi.com/api/v3/references/collegiate/json/" + input + "?key=" + key)
                    .then(response => {
                        console.log(response)
                        return response.json();
                    })
                    .then(response => {
                        console.log(response[0].shortdef[0]);
                        bool = true
                    })
                    .catch(err => {
                        console.log(err);
                        bool = false
                    })
            }
            console.log('!!', bool)
            return bool

        }

    </script>

</html>
