<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <title>User page</title>
    <link rel="stylesheet" href="{% static 'css/side-nav.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

  </head>
  <body>
    <div class="sidenav">
      <div class="user">
        <a href="{% url 'game:profile' %}"><img src="{{user.user_avatar.url}}"  alt="" width="150" height="150"></a>
        <p>{{ user.username }}</p>
      </div>
      <div class="options">
          <a href="{% url 'game:join_room' %}"><button>Join Room <i class='bx bx-door-open icon'></i></button></a>
          <a href="{% url 'game:create_room' %}"><button>Create Room <i class='bx bxs-door-open' ></i></button></a>
          <a href="{% url 'logout' %}"><button>Log out <i class='bx bx-log-out' ></i></button></a>
      </div>
    </div>
    <div class="rightside">
      {% block button %}<a href="{% url 'game:profile_change' %}"><button type="button" name="button">Change profile <i class='bx bxs-user' ></i></button></a>{% endblock button %}
      {% block profile_reset %}
      {% endblock profile_reset %}
      {% block password %}<a href="{% url 'game:password_change' %}"><button type="button" name="button">Change password <i class='bx bxs-shield'></i></button></a>{% endblock password %}
      {% block password_reset %}
      {% endblock password_reset %}
    </div>
  </body>
</html>
