@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');

body{
  margin:0;
  padding:0;
  font-family: 'Coming Soon';
  background: white;
  min-height: 100vh;
}

/* The sidebar menu */
.sidenav {
 height: 100%; /* Full-height: remove this if you want "auto" height */
 width: 250px; /* Set the width of the sidebar */
 position: fixed; /* Fixed Sidebar (stay in place on scroll) */
 z-index: 1; /* Stay on top */
 top: 0; /* Stay at the top */
 left: 0;
 background-color: #FD9352; /* orange */
 overflow-x: hidden; /* Disable horizontal scroll */
 padding-top: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
 .sidenav {padding-top: 15px;}
 .sidenav a {font-size: 18px;}
}

.rightside{
  margin-left: 250px; /* Same as the width of the sidebar */
  padding: 0px 10px;
    text-align:center;
}
.user{
  margin: auto;
}
.user img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.user p {
  text-align: center;
}
a {
    text-decoration: none;
    color: #b61c1c; /* For Example */
}
.options button{
  width: 75%;
  padding: 25px;
  background: #000000;
  font-family: 'Coming Soon';
  border: none;
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  margin:0 auto;
  display:block;
  margin-top: 40px;
}

.rightside button{
  width: 25%;
  padding: 25px;
  font-family: 'Coming Soon';
  background: #000000;
  border: none;
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  margin:0 auto;
  display:block;
  margin-top: 40px;
}


.rightside input{
  width: 50%;
  padding: 25px;
  background: #000000;
  border: none;
  text-align:center;
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  margin:0 auto;
  display:block;

}
.rightside input:hover{
  box-shadow: inset -3px -3px 7px #fd9352,
  inset 3px 3px 5px rgba(253, 147, 82, 0.692);
}
input::placeholder {
  color: white;
  font-size: 1.2em;
  font-family: 'Coming Soon';
}
