@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');

body{
  margin:0;
  padding:0;
font-family: 'Coming Soon';
  background: #dde1e7;
  min-height: 100vh;
}

.center,.content{
     position:absolute;
     top:55%;
     left:50%;
     transform:translate(-50%,-50%);
}

.content{
  opacity:1;
  visibility:visible;
  width: 330px;
  height: auto;
  background: #FD9352;
  padding: 30px 35px 40px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
               6px 6px 10px rgba(0, 0, 0, 0.2);
}

.text{
  font-size: 30px;
  color: #000000;
  font-weight: 600;
  margin: 0;
  text-align: center;
  letter-spacing: 2px;
}

form{
  margin-top: 10px;
}
.logo img{
  width: 250px;
  height: 250px;
  margin-bottom: 550px;
}
label{
    text-align: center;
    display: block;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}
input{
    display: block;
    height: 43px;
    width: 100%;
    background-color: #fff;
    border-radius: 50px;
    border: none;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #4b4e4d;
    padding-left: 10px;
}
.icon{
  font-size:30px;
}
.register button{
  width: 100%;
  font-family: 'Coming Soon';
  margin-top: 10px;
  padding: 12px;
  background: #000000;
  border-radius: 30px;
  border: none;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #fff;
}
button:hover{
  box-shadow: inset -3px -3px 7px #fd9352,
  inset 3px 3px 5px rgba(253, 147, 82, 0.692);
}
